[submodule "plugins/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "plugins/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/plugins/start/telescope-file-browser.nvim"]
	path = pack/plugins/start/telescope-file-browser.nvim
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim
[submodule "pack/plugins/start/nvim-surround"]
	path = pack/plugins/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "pack/plugins/start/rainbow-delimiters.nvim"]
	path = pack/plugins/start/rainbow-delimiters.nvim
	url = https://github.com/hiphish/rainbow-delimiters.nvim
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "pack/plugins/start/nvim-colorizer.lua"]
	path = pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/plugins/start/base16-nvim"]
	path = pack/plugins/start/base16-nvim
	url = https://github.com/RRethy/base16-nvim
[submodule "pack/plugins/start/substitute.nvim"]
	path = pack/plugins/start/substitute.nvim
	url = https://github.com/gbprod/substitute.nvim
[submodule "pack/plugins/start/leap.nvim"]
	path = pack/plugins/start/leap.nvim
	url = https://github.com/ggandor/leap.nvim
[submodule "pack/plugins/start/gitsigns.nvim"]
	path = pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/plugins/start/todo-comments.nvim"]
	path = pack/plugins/start/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim
[submodule "pack/plugins/start/nvim-cmp"]
	path = pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/plugins/start/cmp-nvim-lsp"]
	path = pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/plugins/start/cmp-buffer"]
	path = pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/plugins/start/cmp-path"]
	path = pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/plugins/start/cmp-cmdline"]
	path = pack/plugins/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/telescope-fzf-native.nvim"]
	path = pack/plugins/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "pack/plugins/start/headlines.nvim"]
	path = pack/plugins/start/headlines.nvim
	url = https://github.com/lukas-reineke/headlines.nvim
[submodule "pack/plugins/start/precognition.nvim"]
	path = pack/plugins/start/precognition.nvim
	url = https://github.com/tris203/precognition.nvim
[submodule "pack/plugins/start/neoscroll.nvim"]
	path = pack/plugins/start/neoscroll.nvim
	url = https://github.com/karb94/neoscroll.nvim
[submodule "pack/plugins/start/mini.nvim"]
	path = pack/plugins/start/mini.nvim
	url = https://github.com/nvim-mini/mini.nvim
[submodule "pack/plugins/start/nvim-dap"]
	path = pack/plugins/start/nvim-dap
	url = https://codeberg.org/mfussenegger/nvim-dap
[submodule "pack/plugins/start/diffview-plus.nvim"]
	path = pack/plugins/start/diffview-plus.nvim
	url = https://github.com/dlyongemallo/diffview-plus.nvim
[submodule "pack/plugins/start/trailblazer.nvim"]
	path = pack/plugins/start/trailblazer.nvim
	url = https://github.com/LeonHeidelbach/trailblazer.nvim
[submodule "pack/plugins/start/portal.nvim"]
	path = pack/plugins/start/portal.nvim
	url = https://github.com/cbochs/portal.nvim
[submodule "pack/plugins/start/none-ls.nvim"]
	path = pack/plugins/start/none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim
